- var doAlert = false

if pugMsg == 'clientAdded' || 'clientUpdated'
  - doAlert = true
  div.alert.alert-success.alertstyle(role="alert" id='alert') 
    i.fa.fa-exclamation-circle.fa-lg 
      span.fa-icon-text   #{alertMsg}

if pugMsg == 'clientAddedError'
  - doAlert = true
  div.alert.alert-danger.alertstyle(role="alert" id='alert') 
    i.fa.fa-exclamation-circle.fa-lg 
      span.fa-icon-text   #{alertMsg}
    hr
    p #{errorMsg}      

if pugMsg == 'clientNotFoundById' || pugMsg == 'routeError'
  - doAlert = true
  div.alert.alert-danger.alertstyle(role="alert" id='alert') 
    i.fa.fa-exclamation-circle.fa-lg 
      span.fa-icon-text   #{alertMsg}
    hr
    p #{errorMsg}      
    
if doAlert  
  script.
    window.setTimeout(function() {
      $(".alert").fadeTo(500, 0).slideUp(500, function(){
          $(this).remove(); 
      });
    }, 5000);


