extends layout

block content
  
  //- sidebar.pug
  include sidebar
  
  //- Body
  div.container.w3-animate-opacity

    //- Check for alerts
    if doAlert
      include alert

    div.row
      div.col-sm-9
        h1.display-3.tocapitalize= message
      div.col-sm-3
        //- h1.display-4(style='bottom:0; position: absolute;')= 'ID: ' + client.id
        p.lead.my-0(id="id")= client.id
        p.lead.my-0(id="dt_created")= client.dt_created
        p.lead.my-0(id="dt_updated")= client.dt_updated

    //- Buttons
    div.row
      div.col-sm-2.ml-3.mr-1.px-0
        form(id='formEditClient' role="form" method='POST' action="/editClient")
          input(type="hidden" name='userid' value= client.id)
          button.btn.btn-primary.btn-block(id='btnEdit' type='submit' data-toggle="tooltip" data-placement="top" title="Edit client info") 
            i.fa.fa-user
              span.fa-icon-text  Edit
      div.col-sm-2.mx-1.px-0
        form(id='formNewNote' role="form" method='POST' action="/newNote")
          input(type="hidden" name='userid' value= client.id)
          button.btn.btn-primary.btn-block(id='btnNewNote' type='submit' data-toggle="tooltip" data-placement="top" title="Create a new note") 
            i.fa.fa-pencil
              span.fa-icon-text  New Note
      div.col-sm-2.mx-1.px-0
        a.btn.btn-secondary.btn-block(id='btnHome' type='button' role='button' href="/userHome" data-toggle="tooltip" data-placement="top" title="Go to your home page") 
          i.fa.fa-home
            span.fa-icon-text  Home
    hr

    //- Show Client form info and notes
    div.row
      //- client form
      div(id="divClientForm").col-7
        include clientForm

      //- client notes
      - var noteCnt = 0
      each note in notes
        - noteCnt = noteCnt + 1
      div(id="divClientNotes").col-5
        div.card.my-2.shadow-sm.rounded.bg-dark.text-white
          div.card-body.py-2
            h1.lead Notes
              span.ml-2.badge.badge-pill.badge-light.lead(id='badgeNoteCount' data-toggle="tooltip" data-placement="top" title="Note count") #{noteCnt}
        
        //- Note search input
        div.input-group
            div.input-group-prepend
              div.input-group-text 
                i.fa.fa-search
            input.form-control(id="inputNoteSearch" name="inputNoteSearch" type="text" placeholder="Search Notes...")

        //- Sort buttons

        //- Note list
        div(style="height: 500px; overflow: auto;")
          table.table.table-striped(id="notesTable" name="notesTable") 
            thead
              tr
                th.text-center(scope="col") ID
                th.text-center(scope="col") Created
                th.text-center(scope="col") Session
                th.text-center(scope="col") Actions
            tbody
              each note in notes
                tr(id="noteRow" + note.id)
                  td.text-center(scope="row") #{note.id}
                  td.text-center(id="noteCreatedDate" + note.id name="noteCreatedDate") #{note.dt_created}
                  td.text-center(id="noteSessionDate" + note.id name="noteSessionDate") #{note.date}
                  td.text-center 
                    - var viewNoteHref = '/viewNote*?clientId=' + client.id + '&noteId=' + note.id
                    - var deleteNoteHref = '/deleteNote*?clientId=' + client.id + '&noteId=' + note.id
                    a.btn.btn-outline-info.btn-sm.mr-1(type='button' role='button' href= viewNoteHref data-toggle="tooltip" data-placement="top" title="View note")
                      i.fa.fa-eye
                    a.btn.btn-outline-secondary.btn-sm(type='button' role='button' href= deleteNoteHref data-toggle="tooltip" data-placement="top" title="Delete note")
                      i.fa.fa-trash              

append foot
  script.
    //- enable bootstrap tooltips (Enable tooltips everywhere)
    $(function () {
      $('[data-toggle="tooltip"]').tooltip({
            trigger : 'hover'
      })
    })


    //- load client form and disable input
    var clientStr = !{JSON.stringify(client)}
    var notes = !{JSON.stringify(notes)}
    addClientToForm(clientStr, true)  


    //- format note date
    notes.forEach(function(note){
      formatDate('noteCreatedDate' + note.id, note.dt_created, 'ddd, MM/DD/YYYY')
      formatDate('noteSessionDate' + note.id, note.date, 'ddd, MM/DD/YYYY')
    })

    $('#notesTable').DataTable({
      "order": [[ 1, "desc" ]],
      "paging" : false,
      "dom": 't'
    });
    
    //- Setup notes search box
    $('#inputNoteSearch').keyup(function(){
      setClientHomeNoteSearchBox()
    })
    


