extends layout

block content
  
  //- sidebar.pug
  include sidebar
  
  //- Body
  div.container.w3-animate-opacity

    //- Check for alerts
    if doAlert
      include alert

    div.row
      div.col-sm-9
        h1.display-3.tocapitalize.nooverflow= message
      div.col-sm-3
        //- h1.display-4(style='bottom:0; position: absolute;')= 'ID: ' + client.id
        p.lead.my-0(id="id")= client.id
        p.lead.my-0(id="dt_created")= client.dt_created
        p.lead.my-0(id="dt_updated")= client.dt_updated

    //- Buttons
    div.row
      div.col-sm-2.ml-3.mr-1.px-0
        form(id='formUpdateClient' role="form" method='POST' action="/editClient")
          input(type="hidden" name='userid' value= client.id)
          button.btn.btn-primary.btn-block(id='btnEdit' type='submit' data-toggle="tooltip" data-placement="top" title="Edit client info") 
            i.fa.fa-user
              span.fa-icon-text  Edit
      div.col-sm-2.mx-1.px-0
        a.btn.btn-primary.btn-block(id='btnNewNote' type='button' role='button' href="#" data-toggle="tooltip" data-placement="top" title="Create a new note") 
          i.fa.fa-pencil
            span.fa-icon-text  New Note
      div.col-sm-2.mx-1.px-0
        a.btn.btn-secondary.btn-block(id='btnHome' type='button' role='button' href="/userHome" data-toggle="tooltip" data-placement="top" title="Go to your home page") 
          i.fa.fa-home
            span.fa-icon-text  Home
    hr

    //- Show Client form info and notes
    div.row.row-col-2
      //- client form
      div(id="divClientForm").col
        //- form(id='formUpdateClient' role='form' method="POST" action="/updateClient" onsubmit="return confirm('Everything look okay before saving?');")
        include clientForm
          //- button(id="btnUpdateClient" for='formUpdateClient' type='submit' style='display: none').btn.btn-primary
          //-   i.fa.fa-plus
          //-     span.fa-icon-text  Save
          //- button(id="btnCancelUpdate" type='button' onclick='#' style='display: none').btn.btn-secondary.ml-1 Cancel

      //- client notes
      div(id="divClientNotes").col
        h1.lead Notes
          span.ml-1.badge.badge-pill.badge-secondary.lead(id='badgeNoteCount' data-toggle="tooltip" data-placement="top" title="Note count") 0
        hr
        div.card.my-2.shadow-sm.rounded
          div.card-body
              div.row.mb-2
                div.col-sm-9
                  p.align-middle.text-muted Client Name
                div.col-sm-3
                  a.btn.btn-primary.px-0.btn-block(type='button' role='button' href='#')
                    i.fa.fa-search
                      span.fa-icon-text  View
  

append foot
  script.
    //- enable bootstrap tooltips (Enable tooltips everywhere)
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    
    //- load client form and disable input
    var clientStr = !{JSON.stringify(client)}
    addClientToForm(clientStr, true)  
